[data-icon="item.1001"] { background-position: 0% 0%; }
[data-icon="item.1002"] { background-position: 7.6923076923076925% 0%; }
[data-icon="item.1003"] [data-icon="recipe.34"] { background-position: 15.384615384615385% 0%; }
[data-icon="item.1004"] { background-position: 23.076923076923077% 0%; }
[data-icon="item.1005"] { background-position: 30.76923076923077% 0%; }
[data-icon="item.1006"] { background-position: 38.46153846153846% 0%; }
[data-icon="item.1030"] { background-position: 46.15384615384615% 0%; }
[data-icon="item.1031"] { background-position: 53.84615384615385% 0%; }
[data-icon="item.1011"] { background-position: 61.53846153846154% 0%; }
[data-icon="item.1012"] { background-position: 69.23076923076923% 0%; }
[data-icon="item.1013"] { background-position: 76.92307692307692% 0%; }
[data-icon="item.1014"] { background-position: 84.61538461538461% 0%; }
[data-icon="item.1015"] { background-position: 92.3076923076923% 0%; }
[data-icon="item.1016"] { background-position: 100% 0%; }
[data-icon="item.1101"] [data-icon="recipe.1"] { background-position: 0% 7.6923076923076925%; }
[data-icon="item.1104"] [data-icon="recipe.3"] { background-position: 7.6923076923076925% 7.6923076923076925%; }
[data-icon="item.1105"] [data-icon="recipe.59"] { background-position: 15.384615384615385% 7.6923076923076925%; }
[data-icon="item.1106"] [data-icon="recipe.65"] { background-position: 23.076923076923077% 7.6923076923076925%; }
[data-icon="item.1108"] [data-icon="recipe.4"] { background-position: 30.76923076923077% 7.6923076923076925%; }
[data-icon="item.1109"] [data-icon="recipe.17"] { background-position: 38.46153846153846% 7.6923076923076925%; }
[data-icon="item.1103"] [data-icon="recipe.63"] { background-position: 46.15384615384615% 7.6923076923076925%; }
[data-icon="item.1107"] [data-icon="recipe.66"] { background-position: 53.84615384615385% 7.6923076923076925%; }
[data-icon="item.1110"] [data-icon="recipe.57"] { background-position: 61.53846153846154% 7.6923076923076925%; }
[data-icon="item.1119"] [data-icon="recipe.30"] { background-position: 69.23076923076923% 7.6923076923076925%; }
[data-icon="item.1111"] [data-icon="recipe.11"] { background-position: 76.92307692307692% 7.6923076923076925%; }
[data-icon="item.1112"] [data-icon="recipe.60"] { background-position: 84.61538461538461% 7.6923076923076925%; }
[data-icon="item.1113"] [data-icon="recipe.37"] { background-position: 92.3076923076923% 7.6923076923076925%; }
[data-icon="item.1201"] [data-icon="recipe.5"] { background-position: 100% 7.6923076923076925%; }
[data-icon="item.1102"] [data-icon="recipe.2"] { background-position: 0% 15.384615384615385%; }
[data-icon="item.1202"] [data-icon="recipe.6"] { background-position: 7.6923076923076925% 15.384615384615385%; }
[data-icon="item.1203"] [data-icon="recipe.97"] { background-position: 15.384615384615385% 15.384615384615385%; }
[data-icon="item.1204"] [data-icon="recipe.98"] { background-position: 23.076923076923077% 15.384615384615385%; }
[data-icon="item.1205"] [data-icon="recipe.103"] { background-position: 30.76923076923077% 15.384615384615385%; }
[data-icon="item.1206"] [data-icon="recipe.99"] { background-position: 38.46153846153846% 15.384615384615385%; }
[data-icon="item.1127"] [data-icon="recipe.104"] { background-position: 46.15384615384615% 15.384615384615385%; }
[data-icon="item.1301"] [data-icon="recipe.50"] { background-position: 53.84615384615385% 15.384615384615385%; }
[data-icon="item.1303"] [data-icon="recipe.51"] { background-position: 61.53846153846154% 15.384615384615385%; }
[data-icon="item.1305"] [data-icon="recipe.52"] { background-position: 69.23076923076923% 15.384615384615385%; }
[data-icon="item.1302"] [data-icon="recipe.53"] { background-position: 76.92307692307692% 15.384615384615385%; }
[data-icon="item.1304"] [data-icon="recipe.38"] { background-position: 84.61538461538461% 15.384615384615385%; }
[data-icon="item.1402"] [data-icon="recipe.36"] { background-position: 92.3076923076923% 15.384615384615385%; }
[data-icon="item.1401"] [data-icon="recipe.12"] { background-position: 100% 15.384615384615385%; }
[data-icon="item.1404"] [data-icon="recipe.68"] { background-position: 0% 23.076923076923077%; }
[data-icon="item.1501"] [data-icon="recipe.70"] { background-position: 7.6923076923076925% 23.076923076923077%; }
[data-icon="item.1000"] { background-position: 15.384615384615385% 23.076923076923077%; }
[data-icon="item.1007"] { background-position: 23.076923076923077% 23.076923076923077%; }
[data-icon="item.1114"] { background-position: 30.76923076923077% 23.076923076923077%; }
[data-icon="item.1116"] [data-icon="recipe.24"] { background-position: 38.46153846153846% 23.076923076923077%; }
[data-icon="item.1120"] { background-position: 46.15384615384615% 23.076923076923077%; }
[data-icon="item.1121"] [data-icon="recipe.40"] { background-position: 53.84615384615385% 23.076923076923077%; }
[data-icon="item.1122"] { background-position: 61.53846153846154% 23.076923076923077%; }
[data-icon="item.1208"] { background-position: 69.23076923076923% 23.076923076923077%; }
[data-icon="item.1801"] [data-icon="recipe.19"] { background-position: 76.92307692307692% 23.076923076923077%; }
[data-icon="item.1802"] [data-icon="recipe.41"] { background-position: 84.61538461538461% 23.076923076923077%; }
[data-icon="item.1803"] [data-icon="recipe.44"] { background-position: 92.3076923076923% 23.076923076923077%; }
[data-icon="item.1804"] [data-icon="recipe.156"] { background-position: 100% 23.076923076923077%; }
[data-icon="item.1115"] [data-icon="recipe.23"] { background-position: 0% 30.76923076923077%; }
[data-icon="item.1123"] [data-icon="recipe.31"] { background-position: 7.6923076923076925% 30.76923076923077%; }
[data-icon="item.1124"] [data-icon="recipe.33"] { background-position: 15.384615384615385% 30.76923076923077%; }
[data-icon="item.1117"] [data-icon="recipe.25"] { background-position: 23.076923076923077% 30.76923076923077%; }
[data-icon="item.1118"] [data-icon="recipe.26"] { background-position: 30.76923076923077% 30.76923076923077%; }
[data-icon="item.1126"] [data-icon="recipe.28"] { background-position: 38.46153846153846% 30.76923076923077%; }
[data-icon="item.1128"] [data-icon="recipe.133"] { background-position: 46.15384615384615% 30.76923076923077%; }
[data-icon="item.1129"] [data-icon="recipe.134"] { background-position: 53.84615384615385% 30.76923076923077%; }
[data-icon="item.1130"] [data-icon="recipe.135"] { background-position: 61.53846153846154% 30.76923076923077%; }
[data-icon="item.1209"] [data-icon="recipe.101"] { background-position: 69.23076923076923% 30.76923076923077%; }
[data-icon="item.1210"] [data-icon="recipe.78"] { background-position: 76.92307692307692% 30.76923076923077%; }
[data-icon="item.1403"] [data-icon="recipe.42"] { background-position: 84.61538461538461% 30.76923076923077%; }
[data-icon="item.1407"] [data-icon="recipe.105"] { background-position: 92.3076923076923% 30.76923076923077%; }
[data-icon="item.1405"] [data-icon="recipe.20"] { background-position: 100% 30.76923076923077%; }
[data-icon="item.1406"] [data-icon="recipe.21"] { background-position: 0% 38.46153846153846%; }
[data-icon="item.5003"] [data-icon="recipe.123"] { background-position: 7.6923076923076925% 38.46153846153846%; }
[data-icon="item.5001"] [data-icon="recipe.94"] { background-position: 15.384615384615385% 38.46153846153846%; }
[data-icon="item.5002"] [data-icon="recipe.96"] { background-position: 23.076923076923077% 38.46153846153846%; }
[data-icon="item.1125"] [data-icon="recipe.80"] { background-position: 30.76923076923077% 38.46153846153846%; }
[data-icon="item.1502"] [data-icon="recipe.81"] { background-position: 38.46153846153846% 38.46153846153846%; }
[data-icon="item.1503"] [data-icon="recipe.83"] { background-position: 46.15384615384615% 38.46153846153846%; }
[data-icon="item.1131"] [data-icon="recipe.112"] { background-position: 53.84615384615385% 38.46153846153846%; }
[data-icon="item.1141"] [data-icon="recipe.106"] { background-position: 61.53846153846154% 38.46153846153846%; }
[data-icon="item.1142"] [data-icon="recipe.107"] { background-position: 69.23076923076923% 38.46153846153846%; }
[data-icon="item.1143"] [data-icon="recipe.108"] { background-position: 76.92307692307692% 38.46153846153846%; }
[data-icon="item.1601"] [data-icon="recipe.136"] { background-position: 84.61538461538461% 38.46153846153846%; }
[data-icon="item.1602"] [data-icon="recipe.137"] { background-position: 92.3076923076923% 38.46153846153846%; }
[data-icon="item.1603"] [data-icon="recipe.138"] { background-position: 100% 38.46153846153846%; }
[data-icon="item.1604"] [data-icon="recipe.139"] { background-position: 0% 46.15384615384615%; }
[data-icon="item.1605"] [data-icon="recipe.140"] { background-position: 7.6923076923076925% 46.15384615384615%; }
[data-icon="item.1606"] [data-icon="recipe.141"] { background-position: 15.384615384615385% 46.15384615384615%; }
[data-icon="item.1607"] [data-icon="recipe.142"] { background-position: 23.076923076923077% 46.15384615384615%; }
[data-icon="item.1608"] [data-icon="recipe.143"] { background-position: 30.76923076923077% 46.15384615384615%; }
[data-icon="item.1609"] [data-icon="recipe.144"] { background-position: 38.46153846153846% 46.15384615384615%; }
[data-icon="item.1610"] [data-icon="recipe.145"] { background-position: 46.15384615384615% 46.15384615384615%; }
[data-icon="item.1611"] [data-icon="recipe.146"] { background-position: 53.84615384615385% 46.15384615384615%; }
[data-icon="item.1612"] [data-icon="recipe.158"] { background-position: 61.53846153846154% 46.15384615384615%; }
[data-icon="item.1613"] [data-icon="recipe.159"] { background-position: 69.23076923076923% 46.15384615384615%; }
[data-icon="item.5101"] [data-icon="recipe.147"] { background-position: 76.92307692307692% 46.15384615384615%; }
[data-icon="item.5102"] [data-icon="recipe.148"] { background-position: 84.61538461538461% 46.15384615384615%; }
[data-icon="item.5103"] [data-icon="recipe.149"] { background-position: 92.3076923076923% 46.15384615384615%; }
[data-icon="item.5111"] [data-icon="recipe.150"] { background-position: 100% 46.15384615384615%; }
[data-icon="item.5112"] [data-icon="recipe.151"] { background-position: 0% 53.84615384615385%; }
[data-icon="item.5201"] { background-position: 7.6923076923076925% 53.84615384615385%; }
[data-icon="item.5202"] { background-position: 15.384615384615385% 53.84615384615385%; }
[data-icon="item.5203"] { background-position: 23.076923076923077% 53.84615384615385%; }
[data-icon="item.5204"] { background-position: 30.76923076923077% 53.84615384615385%; }
[data-icon="item.5205"] { background-position: 38.46153846153846% 53.84615384615385%; }
[data-icon="item.5206"] { background-position: 46.15384615384615% 53.84615384615385%; }
[data-icon="item.2001"] [data-icon="recipe.84"] { background-position: 53.84615384615385% 53.84615384615385%; }
[data-icon="item.2002"] [data-icon="recipe.89"] { background-position: 61.53846153846154% 53.84615384615385%; }
[data-icon="item.2003"] [data-icon="recipe.92"] { background-position: 69.23076923076923% 53.84615384615385%; }
[data-icon="item.2011"] [data-icon="recipe.85"] { background-position: 76.92307692307692% 53.84615384615385%; }
[data-icon="item.2012"] [data-icon="recipe.88"] { background-position: 84.61538461538461% 53.84615384615385%; }
[data-icon="item.2013"] [data-icon="recipe.90"] { background-position: 92.3076923076923% 53.84615384615385%; }
[data-icon="item.2014"] [data-icon="recipe.160"] { background-position: 100% 53.84615384615385%; }
[data-icon="item.2020"] [data-icon="recipe.87"] { background-position: 0% 61.53846153846154%; }
[data-icon="item.2040"] [data-icon="recipe.120"] { background-position: 7.6923076923076925% 61.53846153846154%; }
[data-icon="item.2030"] [data-icon="recipe.117"] { background-position: 15.384615384615385% 61.53846153846154%; }
[data-icon="item.2313"] [data-icon="recipe.109"] { background-position: 23.076923076923077% 61.53846153846154%; }
[data-icon="item.2107"] [data-icon="recipe.122"] { background-position: 30.76923076923077% 61.53846153846154%; }
[data-icon="item.2101"] [data-icon="recipe.86"] { background-position: 38.46153846153846% 61.53846153846154%; }
[data-icon="item.2102"] [data-icon="recipe.91"] { background-position: 46.15384615384615% 61.53846153846154%; }
[data-icon="item.2106"] [data-icon="recipe.114"] { background-position: 53.84615384615385% 61.53846153846154%; }
[data-icon="item.2303"] [data-icon="recipe.45"] { background-position: 61.53846153846154% 61.53846153846154%; }
[data-icon="item.2304"] [data-icon="recipe.46"] { background-position: 69.23076923076923% 61.53846153846154%; }
[data-icon="item.2305"] [data-icon="recipe.47"] { background-position: 76.92307692307692% 61.53846153846154%; }
[data-icon="item.2318"] [data-icon="recipe.154"] { background-position: 84.61538461538461% 61.53846153846154%; }
[data-icon="item.2201"] [data-icon="recipe.8"] { background-position: 92.3076923076923% 61.53846153846154%; }
[data-icon="item.2202"] [data-icon="recipe.13"] { background-position: 100% 61.53846153846154%; }
[data-icon="item.2212"] [data-icon="recipe.73"] { background-position: 0% 69.23076923076923%; }
[data-icon="item.2203"] [data-icon="recipe.7"] { background-position: 7.6923076923076925% 69.23076923076923%; }
[data-icon="item.2204"] [data-icon="recipe.64"] { background-position: 15.384615384615385% 69.23076923076923%; }
[data-icon="item.2211"] [data-icon="recipe.113"] { background-position: 23.076923076923077% 69.23076923076923%; }
[data-icon="item.2213"] [data-icon="recipe.118"] { background-position: 30.76923076923077% 69.23076923076923%; }
[data-icon="item.2301"] [data-icon="recipe.48"] { background-position: 38.46153846153846% 69.23076923076923%; }
[data-icon="item.2316"] [data-icon="recipe.119"] { background-position: 46.15384615384615% 69.23076923076923%; }
[data-icon="item.2306"] [data-icon="recipe.49"] { background-position: 53.84615384615385% 69.23076923076923%; }
[data-icon="item.2302"] [data-icon="recipe.56"] { background-position: 61.53846153846154% 69.23076923076923%; }
[data-icon="item.2315"] [data-icon="recipe.116"] { background-position: 69.23076923076923% 69.23076923076923%; }
[data-icon="item.2319"] [data-icon="recipe.155"] { background-position: 76.92307692307692% 69.23076923076923%; }
[data-icon="item.2307"] [data-icon="recipe.14"] { background-position: 84.61538461538461% 69.23076923076923%; }
[data-icon="item.2308"] [data-icon="recipe.15"] { background-position: 92.3076923076923% 69.23076923076923%; }
[data-icon="item.2309"] [data-icon="recipe.22"] { background-position: 100% 69.23076923076923%; }
[data-icon="item.2317"] [data-icon="recipe.124"] { background-position: 0% 76.92307692307692%; }
[data-icon="item.2314"] [data-icon="recipe.110"] { background-position: 7.6923076923076925% 76.92307692307692%; }
[data-icon="item.2205"] [data-icon="recipe.67"] { background-position: 15.384615384615385% 76.92307692307692%; }
[data-icon="item.2206"] [data-icon="recipe.76"] { background-position: 23.076923076923077% 76.92307692307692%; }
[data-icon="item.2207"] { background-position: 30.76923076923077% 76.92307692307692%; }
[data-icon="item.2311"] [data-icon="recipe.71"] { background-position: 38.46153846153846% 76.92307692307692%; }
[data-icon="item.2208"] [data-icon="recipe.72"] { background-position: 46.15384615384615% 76.92307692307692%; }
[data-icon="item.2312"] [data-icon="recipe.82"] { background-position: 53.84615384615385% 76.92307692307692%; }
[data-icon="item.2209"] [data-icon="recipe.77"] { background-position: 61.53846153846154% 76.92307692307692%; }
[data-icon="item.2310"] [data-icon="recipe.39"] { background-position: 69.23076923076923% 76.92307692307692%; }
[data-icon="item.2210"] [data-icon="recipe.43"] { background-position: 76.92307692307692% 76.92307692307692%; }
[data-icon="item.2103"] [data-icon="recipe.93"] { background-position: 84.61538461538461% 76.92307692307692%; }
[data-icon="item.2104"] [data-icon="recipe.95"] { background-position: 92.3076923076923% 76.92307692307692%; }
[data-icon="item.2105"] [data-icon="recipe.111"] { background-position: 100% 76.92307692307692%; }
[data-icon="item.2901"] [data-icon="recipe.10"] { background-position: 0% 84.61538461538461%; }
[data-icon="item.2902"] [data-icon="recipe.153"] { background-position: 7.6923076923076925% 84.61538461538461%; }
[data-icon="item.3001"] [data-icon="recipe.125"] { background-position: 15.384615384615385% 84.61538461538461%; }
[data-icon="item.3002"] [data-icon="recipe.126"] { background-position: 23.076923076923077% 84.61538461538461%; }
[data-icon="item.3003"] [data-icon="recipe.127"] { background-position: 30.76923076923077% 84.61538461538461%; }
[data-icon="item.3004"] [data-icon="recipe.128"] { background-position: 38.46153846153846% 84.61538461538461%; }
[data-icon="item.3005"] [data-icon="recipe.129"] { background-position: 46.15384615384615% 84.61538461538461%; }
[data-icon="item.3006"] [data-icon="recipe.130"] { background-position: 53.84615384615385% 84.61538461538461%; }
[data-icon="item.3007"] [data-icon="recipe.131"] { background-position: 61.53846153846154% 84.61538461538461%; }
[data-icon="item.3008"] [data-icon="recipe.132"] { background-position: 69.23076923076923% 84.61538461538461%; }
[data-icon="item.3009"] [data-icon="recipe.152"] { background-position: 76.92307692307692% 84.61538461538461%; }
[data-icon="item.3010"] [data-icon="recipe.157"] { background-position: 84.61538461538461% 84.61538461538461%; }
[data-icon="item.6001"] [data-icon="recipe.9"] { background-position: 92.3076923076923% 84.61538461538461%; }
[data-icon="item.6002"] [data-icon="recipe.18"] { background-position: 100% 84.61538461538461%; }
[data-icon="item.6003"] [data-icon="recipe.27"] { background-position: 0% 92.3076923076923%; }
[data-icon="item.6004"] [data-icon="recipe.55"] { background-position: 7.6923076923076925% 92.3076923076923%; }
[data-icon="item.6005"] [data-icon="recipe.102"] { background-position: 15.384615384615385% 92.3076923076923%; }
[data-icon="item.6006"] [data-icon="recipe.75"] { background-position: 23.076923076923077% 92.3076923076923%; }
